
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes comeUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0%);
        opacity: 1;
      }
}
:root {
    --padding-spacing: 0.5rem;
    --margin-spacing: 0.5rem;
    --obsidian: #000;
    --chalk: #fff;
    --graphite: rgba(252, 252, 252, 0.85);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: -webkit-fill-available;
}
/* generic */
body {
    min-height: -webkit-fill-available;
    background-color: var(--chalk);
    /* typography */
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.12rem;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;

    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 25% 75%;
    position: relative;
    overflow: hidden;
}
header {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
}
nav {
    z-index: 1;
    padding: 1rem;
}

footer {
    z-index: 1;
    grid-column: 1;
    grid-row: 3;

    display: flex;
    align-items: flex-end;

    color: var(--obsidian);
    cursor: default;
}
main {
    z-index: 0;
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/4;
    padding: 2rem;
}

a {
    all:unset;
    color: inherit;
}
a:hover {
    cursor: pointer;
}
button {
    all: unset;
}
ul li {
    padding-block: 0.35rem;
}
ul {
    padding-block: 0.5rem;
}
li::marker {
    color: transparent;
}
img {
    max-width: 100%;
    max-height: 75vh;
}
p {
    font-size: 1rem;
    padding-block: 1rem;
}
section {
    padding-block: 4rem;
}

/* classes */
.underline-animated {
    position: relative;
    
}
.underline-animated::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.1rem;

    height: 2px;
    width: 0%;
    background-color: var(--graphite);

    transition: 500ms;
}
.underline-animated:hover::after {
    width: 100%;
}
.underline-animated:not(:hover)::after {
    width: 0%;
}
.animation-container {
    overflow: hidden;
}
.come-up-animation {
    animation: comeUp 1500ms forwards;
}
.bold {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.chalk-text {
    color: var(--chalk);
}
.logo-header {
    font-weight: 400;
    font-size: 1.12rem;
    padding-block: 1rem 0rem;
    padding-inline: 1rem;
}
.copyright {
    padding: 1rem;
}
.difference {
    mix-blend-mode: difference;
}
.hide {
    opacity: 0;
}
.hidden {
    width: 1px;
    height: 1px;
    visibility: hidden;
}
/* id */
#logo {
    padding-inline: 1rem;
    padding-top: 2.5rem;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.gallery img {
    background-color: #ccc;
}
.vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.footer-container {
    position: relative;
    height: 50vh;
    width: 100%;
}
.footer-hero {
    font-size: 3rem;
    font-weight: 700;
    padding: 0;
}
.footer-h {
    position: absolute;
    left: 1.35rem;
    top: 0;
}
.footer-v {
    position: absolute;
    left: 0;
    top: 3.5rem;
}
.footer-call-to-action {
    position: absolute;
    top: 1rem;
    right: 0;
}
.footer-img-container {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem;
    right: 0;
    bottom: 0;
}
@media screen and (max-width: 610px) {
    .footer-hero {
        font-size: 1.5rem;
    }
    .footer-call-to-action {
        top: -0.5rem;
        right: 0;
    }
    .footer-h {
        left: 0.55rem;
        top: 0;
    }
    .footer-v {
        left: 0rem;
        top: 1.75rem;
    }
    .footer-img-container {
        left: 1.75rem;
        top: 1.75rem;
    }
}
@media screen and (max-width: 546px) {
    body {
        font-size: 0.85rem;
    }
    .footer-hero {
        font-size: 1rem;
    }
    .footer-call-to-action {
        font-size: 0.85rem;
        top: -0.90rem;
        right: 0;
    }
    .footer-h {
        left: 0.45rem;
        top: 0;
    }
    .footer-v {
        left: 0rem;
        top: 1.25rem;
    }
    .footer-img-container {
        left: 1.25rem;
        top: 1.25rem;
    }
}
@media screen and (max-width: 455px) {
    body {
        font-size: 0.75rem;
    }
    .footer-hero {
        font-size: 0.9rem;
    }
    .footer-call-to-action {
        font-size: 0.67rem;
        top: -0.80rem;
        right: 0;
    }
    .footer-h {
        left: 0.35rem;
        top: 0;
    }
    .footer-v {
        left: 0rem;
        top: 1.15rem;
    }
    .footer-img-container {
        left: 1.15rem;
        top: 1.15rem;
    }
}